name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.head_commit.id }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build with Yarn
        run: pnpm build

      - name: Store distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BookReviews
          path: ${{ github.workspace }}/build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4

      - name: SCP to jeantessier.com
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.JEANTESSIER_HOST }}
          username: ${{ secrets.JEANTESSIER_USER }}
          password: ${{ secrets.JEANTESSIER_PASS }}
          source: "BookReviews"
          target: "/home/jeantessier/jeantessier.com"
